%li.item
  .content
    %a{:href => item_url(item) }
      .itemInfo
        %span.title= item_model(item)
        %p
          %span.price= "Rs. #{item.price}"
          %span.city= item.city
        .image= image_tag item.assets.first.url(:thumb)