%li.item
  .content
    %a{:href => item_url(item) }
      .itemInfo
        %span.title= [item.company.try(:name), item.model].compact.join(" - ").to_s
        %p
          %span.price= "Rs. #{item.price}"
          %span.city= item.city
        .image= image_tag item.assets.first.url(:thumb)